:root {
  box-sizing: border-box;
  font-size: 1em;

  --orange: #ff940f;
  --white: #f1e6d2;
  --blue: #3b658b;
  --grey: #6a665d;
  --front-color: #2d3134;
  --calc-color: #cec0a5;
  --dark: #1b1b1b;
}

@media screen and (max-width: 798px) {
  :root {
    font-size: 1.2em;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Share Tech Mono", monospace;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  position: relative;
  width: 22em;
  background: var(--calc-color);
  padding: 1em;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.calculator::before {
  position: absolute;
  display: block;
  content: "";
  width: 10em;
  height: 4em;
  left: 50%;
  transform: translate(-50%, 0.9em);
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.calculator::after {
  top: 0;
  position: absolute;
  display: block;
  content: "\205D    \205D    \205D";
  color: rgba(0, 0, 0, 0.4);
  font-size: 2.5rem;
  left: 50%;
  transform: translate(-50%, 1em);
  border-radius: 100%;
}

.calculator_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  gap: 1em;
  padding: 1em;
  background: var(--front-color);
  border-radius: 0.5em;
}

.display {
  overflow: hidden;
  pointer-events: none;
  border: 8px solid var(--black);
  margin-top: 1.4em;
  margin-bottom: 0.5em;
  grid-column: 1/5;
  background: black;
  font-size: 3.5rem;
  line-height: 1.5;
  text-shadow: 0 0 2px #fff;
  color: #00fffc;
  animation: pulsate 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;
  text-align: right;
  outline: 1px solid rgba(206, 192, 165, 0.3);
}

.num_wrapper {
  border-right: 2px solid white;
}

.blink {
  animation: blink 1s step-end infinite;
}

button {
  border: 2px solid #1a1717;
  border-radius: 1em;
  box-shadow: 1px 1px var(--dark), 2px 2px #1a171a;
  color: #fff;
  position: relative;
  text-transform: uppercase;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
  font-family: inherit;
  font-size: 1.8rem;

  cursor: pointer;
}

button:hover {
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  animation: upDown 0.1s;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 var(--dark), 0 0 black;
}

/*
button {
  cursor: pointer;
  border-radius: 1em;
  height: 3em;
  border: 2px solid var(--dark);
  font-size: inherit;
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

button:hover {
  transform: translateY(-2px);
  border: 2px solid black;
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

button:active {
  transform: translate(0);
  border: 3px solid black;
  opacity: 0.9;
  transition: transform 34ms;
}

*/

.orange,
.blue {
  border-radius: 0.1em;
}

.white {
  background: var(--white);
  color: var(--black);
}

.grey {
  background: var(--grey);
  color: var(--white);
}

.blue {
  background: var(--blue);
  color: var(--white);
}

.orange {
  background: var(--orange);
  color: var(--white);
  color: black;
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #00fffc;
  }
}

@keyframes pulsate {
  to {
    opacity: 0.9;
  }
}

@keyframes upDown {
  from {
    transform: translateY(-1px);
  }

  to {
    transform: translateY(1px);
  }
}
